

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}


.full-width {
  width: 100%;
}


input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  margin: 0.25rem 0;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

[icon-left], [icon-right] {
  position: absolute;
  font-size: 1.25rem;
  color: #777;
  cursor: pointer;
}


[icon-left] {
  left: 0.75rem;
}


[icon-right] {
  right: 0.75rem;
}


input:focus {
  border-color: var(--accent-color);
  outline: none;
  
}

.input-error {
  /* border-color: var(--warning-color); */
}

  /* input.input-error {
    border-color: var(--warning-color);
  } */
  /* 
  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .input-text input.input-error {
    border: 2px solid red;
    background-color: #ffe6e6;
  } */