.label-container {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

label {
  font-size: 16px;
  cursor: pointer;
 /* color: rgb(216, 216, 216); */
}

.tooltip-icon {
  display: inline-block;
  margin-left: 5px;
  background-color: #007bff;
  /* color: white; */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.tooltip-box {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 4px;
  top: 100%;
  left: 0;
  transform: translateY(8px);
  white-space: nowrap;
  z-index: 1000;
  font-size: 14px;
}

.label-container:hover .tooltip-box {
  display: block;
}