.label-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-icon {
    margin-left: 8px;
    background: blueviolet;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .tooltip-box {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
    display: block;
    margin-top: 8px;
  }
  
  .tooltip-icon:hover + .tooltip-box {
    visibility: visible;
  }
  
  .tooltip-box::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }