<div class="side-bar">
    <div id="buttons-main-sidbar">
        <!-- <app-button variant="ghost" label="Account settings" icon="settings" routerLink="account-settings" [fullWidth]=true>
        </app-button> -->
        <app-button
        variant="ghost"
        label="Account settings"
        icon="settings"
        routerLink="/settings/account-settings"
        [fullWidth]="true"
        [alignLeft]="true"
      ></app-button>
        <app-button 
        variant="ghost" 
        label="Profile settings" 
        icon="person" routerLink="/settings/profile-settings" 
        [fullWidth]=true 
        [alignLeft]="true">
        </app-button >
        <app-button 
        variant="ghost" 
        label="Notifications settings" 
        icon="notifications" 
        routerLink="/settings/notifications" 
        [fullWidth]=true>
        </app-button>
        <app-button 
        variant="ghost" 
        label="Security" 
        icon="security" 
        routerLink="/settings/security" 
        [fullWidth]=true
        [alignLeft]="true"
        >
        
    </app-button>
    </div>
</div>

