<div class="side-bar">
    <div id="buttons-main-sidbar">
        <app-button variant="ghost">
            <a href="/settings">Account Settings</a>
        </app-button>
        <app-button variant="ghost">
            <a href="/settings/profile-settings">Profile settings</a>
        </app-button>
        <app-button variant="ghost">
            <a href="/settings/notifications">Notifications settings</a>
        </app-button>
        <app-button variant="ghost">
            <a href="/settings/security">Security</a>
        </app-button>
    </div>
</div>

