
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px; 
}

.tooltip-box {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1000; /* Ensure it appears above other content */
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap; 
}

.tooltip-container:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}

.tooltip-icon {
    font-weight: bold;
    color: #fff;
    background: #333;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 0.8rem;
    display: inline-block; 
}

.tooltip-box::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
