<nav class="navbar">
  <div class="navbar__left">
    <!-- Dashboard button with an icon -->
    <div *ngIf="isLoggedIn">
      <app-button variant="ghost">
        <a href="/dashboard">
          <fa-icon [icon]="faHome"></fa-icon> Dashboard
        </a>
      </app-button>
    </div>
  </div>

  <div class="navbar__right">
    <!-- Settings button with an icon -->
    <div *ngIf="isLoggedIn">
      <app-button variant="secondary">
        <a href="/settings">
          <fa-icon [icon]="faCog"></fa-icon> Settings
        </a>
      </app-button>
    </div>

    <app-button variant="secondary" (click)="toggleTheme()"   >
      <fa-icon [icon]="isDarkTheme ? faSun : faMoon"></fa-icon> 
    </app-button>

    

    <!-- Logout button with an icon -->
    <div *ngIf="isLoggedIn">
      <app-button label="Logout" (click)="logout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </app-button>
    </div>

    <!-- Login button with an icon -->
    <div *ngIf="!isLoggedIn">
      <app-button>
        <a href="/login">
          <fa-icon [icon]="faUser"></fa-icon> Login
        </a>
      </app-button>
    </div>
  </div>
</nav>

  <!--  TODO: ADD LOGO HERE -->