<app-card>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

            <app-label text="First name" for="firstname"></app-label>
            <app-input-text id="firstname" formControlName="firstname" />

            <app-label text="Last name" for="lastname"></app-label>
            <app-input-text id="lastname" formControlName="lastname" />

            <app-button type="submit" [disabled]="form.invalid || isLoading">Save</app-button>
            <div *ngIf="isLoading">Saving...</div>
        </form>
    </div>
</app-card>