/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1rem 'Roboto', sans-serif;
}

/* Light theme */
body.light-theme {
  --primary-color: #3f51b5; 
  --accent-color: #e91e63;  /* Pink */
  --background-color: #ffffff;
  --text-color: #000000;

  --card-background-color: #f9f9f9; 
  --card-border-color: #e0e0e0;
  --card-text-color: #333;
  --card-header-color: #000;
  --card-subtitle-color: #e6e6e6;
}

/* Dark theme */
body.dark-theme {
  --primary-color: #607d8b; 
  --accent-color: #ff5722;  
  --background-color: #121212;
  --text-color: #ffffff;

  --card-background-color: #1e1e1e;
  --card-border-color: #3a3a3a;
  --card-text-color: #e0e0e0;
  --card-header-color: #ffffff;
  --card-subtitle-color: #cccccc;
}

/* Apply colors across components */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

/* Additional element styling based on themes */
a {
  color: var(--text-color);
}