<a *ngIf="routerLink; else noLink" [routerLink]="routerLink">
  <button
    [type]="type"
    [disabled]="disabled"
    [ngClass]="[
      fullWidth ? 'full-width' : '',
      variant,
      size,
      alignLeft && fullWidth ? 'align-left' : ''
    ]"
  >
    <ng-container *ngIf="icon">
      <app-svg-icon
        [name]="icon"
        [size]="'24px'"
        class="icon"
        *ngIf="iconPosition === 'left'"
      ></app-svg-icon>
    </ng-container>

    {{ label }}

    <ng-container *ngIf="icon && iconPosition === 'right'">
      <app-svg-icon
        [name]="icon"
        [size]="'24px'"
        class="icon"
      ></app-svg-icon>
    </ng-container>

    <ng-content></ng-content>
  </button>
</a>

<ng-template #noLink>
  <button
    [type]="type"
    [disabled]="disabled"
    [ngClass]="[
      fullWidth ? 'full-width' : '',
      variant,
      size,
      alignLeft && fullWidth ? 'align-left' : ''
    ]"
  >
    <ng-container *ngIf="icon">
      <app-svg-icon
        [name]="icon"
        [size]="'24px'"
        class="icon"
        *ngIf="iconPosition === 'left'"
      ></app-svg-icon>
    </ng-container>

    {{ label }}

    <ng-container *ngIf="icon && iconPosition === 'right'">
      <app-svg-icon
        [name]="icon"
        [size]="'24px'"
        class="icon"
      ></app-svg-icon>
    </ng-container>

    <ng-content></ng-content>
  </button>
</ng-template>