
button {

  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

/* Variants */
button.primary {
  background: var(--primary-color);
  color: whitesmoke

}

button.secondary {
  background-color:var(--secondary-color);
  color: white;
}

button.outline{
  background: none;
  border: 1px solid rgb(79, 89, 45);
  color: rgb(79, 89, 45);
}

button.danger {
  background-color: #f30018;
  color: #fff;
}
button.link{
  background: none;;
  color: rgb(197, 197, 197);
}
button.link:hover{
  /* background: rgb(79, 89, 45); */
  border: 1px solid rgb(79, 89, 45);
  color: #fff;
}
button.ghost {
  background: none;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--text-color);

}
button.ghost:hover {
  background: var(--shadow-color);
  /* color: #ffffff; */
} 

/* Sizes */
button.small {
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
}

button.medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

button.large {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

/* Full-width button */
button.full-width {
  width: 100%;
}

/* Icon styles */
button i.material-icons {
  margin-right: 0.5rem;
}

button i.material-icons.right {
  margin-right: 0;
  margin-left: 0.5rem;
}

/* Disabled state */
button:disabled {
  background: rgba(69, 72, 75, 0.5);
  color: #fff;
  cursor: not-allowed;
}



button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
}

button fa-icon:first-child {
  margin-right: 8px;
}

button fa-icon:last-child {
  margin-left: 8px;
}