<app-card title="Forgot Password" subtitle="Enter your email address and we'll send you a link to reset your password.

">
<form [formGroup]="form" (submit)="onSubmit()">
    <app-input-text
        type="email"
        formControlName="email"
        [control]="form.get('email')"
        placeholder="Email"
        id="email">
    </app-input-text>
    <div>
       <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
    <p *ngIf="successMessage" class="success-message">{{ successMessage}}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage}}</p>
    <app-error [control]="form"></app-error>
    <app-button label="Send Reset Link" type="submit" [disabled]="form.invalid"></app-button>


</form>
</app-card>
