<app-card title="Reset Password">

   
  <div class="login__container--form">

 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input-text
        class="input-field"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="password"
        [control]="form.get('password')"
        placeholder="New Password"
        iconPosition="right">
        <button type="button" icon-right class="toggle-password" (click)="togglePasswordVisibility()">
          <fa-icon [icon]="isPasswordVisible ? 'eye-slash' : 'eye'"></fa-icon>
        </button>
        
      </app-input-text>
  
      <app-input-text
        class="input-field"
        [type]="isConfirmPasswordVisible ? 'text' : 'password'"
        formControlName="confirmPassword"
        [control]="form.get('confirmPassword')"
        placeholder="Confirm New Password">
        <button type="button" icon-right class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
          <fa-icon [icon]="isConfirmPasswordVisible ? 'eye-slash' : 'eye'"></fa-icon>
        </button>
      </app-input-text>
  
      <app-error [control]="form"></app-error>
  
      <div>
        <app-spinner *ngIf="isLoading"></app-spinner>
        <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </div>
  
      <app-button 
      [fullWidth]="true"
      [label]="isResetSuccessful ? 'Back to Login' : 'Reset Password'"
      type="button"
      (click)="onButtonClick()"
      [disabled]="form.invalid && !isResetSuccessful">
    </app-button>
    </form>
  </div>

</app-card>